<?xml version="1.0" encoding="utf-8" ?>
<module loadFromBin="false" clientResourceRelativePath="" viewEngine="Razor" moduleJsonSerializerType="None" prefferedUiJsonSerializerType="Net">
    <assemblies>
        <add assembly="Gulla.Episerver.SqlStudio" />
    </assemblies>

    <clientModule>
        <moduleDependencies>
            <add dependency="CMS" />
        </moduleDependencies>
    </clientModule>
</module>
